@model IEnumerable<FlightManager.Models.Reservations>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservations</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EGN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th>
                <a asp-action="Index" asp-route-order="@ViewData["EmailOrder"]">@Html.DisplayNameFor(model => model.Email)</a>
</th>
            <th>
                @Html.DisplayNameFor(model => model.TicketType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EGN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @if (item.TicketType == 1)
                {
                    <p>Bussiness</p>
                }
                else if (item.TicketType == 0)
                {
                    <p>Economy</p>
                }
            </td>

           <td>

               <a asp-action="Details" asp-route-id="@item.ReservationId">Details</a> 

           </td>

       </tr>
}
    </tbody>
</table>
