@model FlightManager.Models.Flights

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flights</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureLoaction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureLoaction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArrivalLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class="col-sm-2">
            Flight Duration
        </dt>
        <dd class="col-sm-10">
            @ViewData["Length"]
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AirplaneType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AirplaneType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AirplaneCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AirplaneCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VacantSpots)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VacantSpots)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VacantSpotsBussiness)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VacantSpotsBussiness)
        </dd>
        <dt class="col-sm-10">
            <a asp-controller="Flights" asp-action="FlightReservations" asp-route-id="@Model.FlightId">Reservations for current flight</a>
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FlightId">Edit</a> |
    <a asp-controller="Reservations" asp-action="Create" asp-route-id="@Model.FlightId">Make reservation</a> |
    <a asp-action="Index">Back to List</a>
</div>
